Source: python-oslo.utils
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>,
           Gonéri Le Bouder <goneri@debian.org>,
           ,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all (>= 2.6.6-3~),
               python-pbr,
               python-setuptools,
               python-sphinx,
               python3-all,
               python3-pbr,
               python3-setuptools,
Build-Depends-Indep: python-babel,
                     python-coverage,
                     python-debtcollector (>= 0.3.0),
                     python-fixtures,
                     python-hacking,
                     python-iso8601,
                     python-mock,
                     python-netaddr,
                     python-netifaces,
                     python-oslo.i18n (>= 1.5.0),
                     python-oslosphinx (>= 2.5.0),
                     python-oslotest (>= 1.5.1),
                     python-six (>= 1.9.0),
                     python-testscenarios,
                     python-testtools,
                     python-tz,
                     python3-babel,
                     python3-coverage,
                     python3-debtcollector (>= 0.3.0),
                     python3-fixtures,
                     python3-iso8601,
                     python3-mock,
                     python3-netaddr,
                     python3-netifaces,
                     python3-oslo.i18n (>= 1.5.0),
                     python3-oslotest (>= 1.5.1),
                     python3-six (>= 1.9.0),
                     python3-subunit (>= 0.0.18),
                     python3-testscenarios,
                     python3-testtools,
                     python3-tz,
                     subunit,
                     testrepository,
Build-Conflicts: python-oslo.concurrency,
                 python-oslo.db,
                 python-oslo.messaging,
                 python-oslo.rootwrap,
                 python-oslo.serialization,
                 python-oslo.vmware,
                 python3-oslo.concurrency,
                 python3-oslo.db,
                 python3-oslo.messaging,
                 python3-oslo.rootwrap,
                 python3-oslo.serialization,
                 python3-oslo.vmware,
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-oslo.utils.git
Vcs-Git: git://anonscm.debian.org/openstack/python-oslo.utils.git
Homepage: http://launchpad.net/oslo

Package: python-oslo.utils
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Provides: python-oslo-utils,
Depends: python-babel,
         python-iso8601,
         python-netaddr,
         python-netifaces,
         python-oslo.i18n (>= 1.5.0),
         python-pbr,
         python-six (>= 1.9.0),
         ${misc:Depends},
         ${python:Depends},
Breaks: python-oslo-utils (<< 1.6.0-1~),
Replaces: python-oslo-utils (<< 1.6.0-1~),
Description: set of utility functions for OpenStack - Python 2.x
 The Oslo.utils package provides a set of function which are cross-project
 for OpenStack. For example, it provides text decoding, exception handling,
 Python module import facility (try_import function), network-related
 system-level, and time utilities and helper functions.
 .
 This package contains the Python 2.x module.

Package: python3-oslo.utils
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Provides: python3-oslo-utils,
Depends: python3-babel,
         python3-iso8601,
         python3-netaddr,
         python3-netifaces,
         python3-oslo.i18n (>= 1.5.0),
         python3-pbr,
         python3-six (>= 1.9.0),
         ${misc:Depends},
         ${python3:Depends},
Breaks: python3-oslo-utils (<< 1.6.0-1~),
Replaces: python3-oslo-utils (<< 1.6.0-1~),
Description: set of utility functions for OpenStack - Python 3.x
 The Oslo.utils package provides a set of function which are cross-project
 for OpenStack. For example, it provides text decoding, exception handling,
 Python module import facility (try_import function), network-related
 system-level, and time utilities and helper functions.
 .
 This package contains the Python 3.x module.

Package: python-oslo.utils-doc
Section: doc
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: ${misc:Depends},
         ${sphinxdoc:Depends},
Description: Oslo Utility library - doc
 The Oslo.utils package provides a set of function which are cross-project
 for OpenStack. For example, it provides text decoding, exception handling,
 Python module import facility (try_import function), network-related
 system-level, and time utilities and helper functions.
 .
  This package contains the documentation.

Package: python-oslo-utils
Section: oldlibs
Architecture: all
Depends: python-oslo.utils,
         ${misc:Depends},
Description: transitional dummy package for python-oslo-utils.
 This transtional package is safe to remove.

Package: python-oslo-utils-doc
Section: oldlibs
Architecture: all
Depends: python-oslo.utils-doc,
         ${misc:Depends},
Description: transitional dummy package for python-oslo-utils-doc.
 This transtional package is safe to remove.

Package: python3-oslo-utils
Section: oldlibs
Architecture: all
Depends: python3-oslo.utils,
         ${misc:Depends},
Description: transitional dummy package for python3-oslo-utils.
 This transtional package is safe to remove.
